/* Gambar pertama */
.pict {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50; /* nilai z-index lebih rendah dari gambar kedua */
}

/* Gambar kedua */
.img-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; /* nilai z-index lebih tinggi dari gambar pertama */
}
